# Compiled class file
# Log file
# BlueJ files
# Mobile Tools for Java (J2ME)
# Package Files #
.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/
# Sensitive or high-churn files:
config.yml

# Gradle:
# CMake
# Mongo Explorer plugin:
## File-based project format:
## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
# JIRA plugin
# Cursive Clojure plugin
# Crashlytics plugin (for Android Studio and IntelliJ)